DATABASE_URL=postgresql://neondb_owner:npg_qDLCd58YAUmp@ep-dawn-frost-azukgyqc-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

SECRET_KEY=geotrack-hrms-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=g35sodw0
CLOUDINARY_API_KEY=768824262187969
CLOUDINARY_API_SECRET=C2GMBoBIGeUsavU_o1qIz0b7X6I